$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.box {
  border-color: black;
  height: 200px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  margin: auto;
}

h1 {
  text-align: center;
}

#the-game {
  position: absolute;
  left: 20%;
  right: auto;
}

.change-confirmation {
  color: yellow;
  float: right;
}

.invalid-credentials {
  color: yellow;
  float: right;
}

.passwords-match {
  color: yellow;
  float: right;
}

.email-taken {
  color: yellow;
  float: right;
}

.signup-success {
  color: yellow;
  float: right;
}

.enter-email {
  color: yellow;
  float: right;
}

.user-stats {
  background-color: blue;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.scoreboard {
  text-align: center;
}

#sign-up-back {
  float: right;
  clear: right;
}

#change-password-back {
  float: right;
  clear: right;
}

#reset-score {
  clear: both;
}

.sign-in-password {
  float: right;
}

.sign-in-email {
  float: right;
}

.sign-in-submit {
  float: right;
}

.sign-up-email {
  float: right;
}

.sign-up-password {
  float: right;
}

.sign-up-confirm {
  float: right;
}

.sign-up-button {
  float: right;
}

.change-password-new {
  float: right;
}

.change-password-old {
  float: right;
}

.change-password-button {
  float: right;
}

#get-change-password {
  float: right;
}

#sign-in-form {
  overflow: hidden;
}

#get-sign-up {
  float: right;
}

#sign-up-form {
  clear: right;
  float: right;
}

#change-password-form {
  clear: right;
  float: right;
}

#sign-out {
  clear: right;
  float: right;
}
