$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.box {
  border-color: black;
  height: 200px;
  width: 200px;
  border-width: 3px;
  border-style: solid;
  margin: auto;
}

.sign-in-password {
  float: right;
}

.sign-in-email {
  float: right;
}

.sign-in-submit {
  float: right;
}

.sign-up-email {
  float: right;
}

.sign-up-password {
  float: right;
}

.sign-up-confirm {
  float: right;
}

.sign-up-button {
  float: right;
}

.change-password-new {
  float: right;
}

.change-password-old {
  float: right;
}

.change-password-button {
  float: right;
}

#sign-in-form {
  overflow: hidden;
}

#sign-up-form {
  clear: right;
  float: right;
}

#change-password-form {
  clear: right;
  float: right;
}

#sign-out {
  clear: right;
  float: right;
}
